
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
body {
    font: 100% $font-stack;
    color: $primary-color;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    > .container-fluid{
      height:100%;
    }
}
.menu-wrap {
    a {
        color: #b8b7ad;
    }
    &:focus,
    &:hover {
        color: #c94e50;
    }
}
.content-wrap {
    height:100%;
}

.content {
    position: relative;
    &::before {

    }

    h1{
      text-align: center;
    }
}
/* Menu Button */
.menu-button {
    position: fixed;
    z-index: 1000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
    &::before {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        bottom: 0.5em;
        left: 0.5em;
        background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
        content: '';
    }
    &:hover {
        opacity: 0.6;
    }
}
/* Close Button */
.close-button {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 0.75em;
    border: none;
    background: transparent;
    color: transparent;
    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        left: 50%;
        background: #bdc3c7;
    }
    &::before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &::after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
/* Menu */
.menu-wrap {
    position: absolute;
    z-index: 1001;
    width: 300px;
    height: 100%;
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    -webkit-transform: translate3d(-320px,0,0);
    transform: translate3d(-320px,0,0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.icon-list,
.menu {
    height: 100%;
}
.icon-list {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    a {
        display: block;
        padding: 0.8em;
        -webkit-transform: translate3d(0,500px,0);
        transform: translate3d(0,500px,0);
        -webkit-transition: -webkit-transform 0s 0.4s;
        transition: transform 0s 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        &:nth-child(2) {
            -webkit-transform: translate3d(0,1000px,0);
            transform: translate3d(0,1000px,0);
        }
        &:nth-child(3) {
            -webkit-transform: translate3d(0,1500px,0);
            transform: translate3d(0,1500px,0);
        }
        &:nth-child(4) {
            -webkit-transform: translate3d(0,2000px,0);
            transform: translate3d(0,2000px,0);
        }
        :nth-child(5) {
            -webkit-transform: translate3d(0,2500px,0);
            transform: translate3d(0,2500px,0);
        }
        span {
            margin-left: 10px;
            font-weight: 700;
        }
    }
}
/* Shown menu */
.show-menu {
    .menu-wrap {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: -webkit-transform 0.8s;
        transition: transform 0.8s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
    .icon-list,
    .icon-list a {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: -webkit-transform 0.8s;
        transition: transform 0.8s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
    .icon-list a {
        -webkit-transition-duration: 0.9s;
        transition-duration: 0.9s;
    }
    .content {
        &::before {
            opacity: 1;
            -webkit-transition: opacity 0.8s;
            transition: opacity 0.8s;
            -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
            transition-timing-function: cubic-bezier(0.7,0,0.3,1);
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
    }
}
.file {
  visibility: hidden;
  position: absolute;
}
.radio-inline, .checkbox{
  label{
    font-size: 14px;
    font-weight: normal;
  }
}
label{
  &.error{
    font-size: 10px;
    color:red;
  }
}
.terms-error,.category-error{
  display: none;
}
.show{
  display: block;
  .error{
    display: block !important;
  }
}
.delete{
  margin-left:20px;
}

#currentFile{
    height:100px;
    margin-bottom: 20px;
  }
